CONFIG_FIRMWARE_INCLUDE_DNSMASQ=y
CONFIG_FIRMWARE_INCLUDE_DHCPD=y
CONFIG_FIRMWARE_INCLUDE_WIFI=y
CONFIG_FIRMWARE_INCLUDE_LANG_EN=y
CONFIG_FIRMWARE_INCLUDE_WEBUI=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n
CONFIG_FIRMWARE_INCLUDE_IPV6=n
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n
CONFIG_FIRMWARE_INCLUDE_SMBD=n
CONFIG_FIRMWARE_INCLUDE_FTP=n
CONFIG_FIRMWARE_INCLUDE_TOR=n
CONFIG_FIRMWARE_INCLUDE_HTTPS=n
CONFIG_FIRMWARE_INCLUDE_OPENVPN=n
CONFIG_FIRMWARE_INCLUDE_ADBYBY=n
CONFIG_FIRMWARE_INCLUDE_WEBMON=n
CONFIG_FIRMWARE_INCLUDE_SAMBA=n
CONFIG_FIRMWARE_INCLUDE_USB=n
